body {
    font-family: Arial, sans-serif;
    margin: 30px;
}

input,
select,
button {
    margin-bottom: 10px;
    border: 2px solid black;
}

button {
    cursor: pointer;
    background-color: #3cd1fe;
    padding: 5px 10px;
    border: 2px solid black;
    border-radius: 4px;

}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 5px;
}

button.delete-button {
    background-color: #ff4d4d;
    color: #fff;
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.container {
    border: 2px solid #3d3737;
    background-color: #e6705e;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
    width: 40em;
}

.second {
    border: 2px solid #3d3737;
    background-color: #37d6cc;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
    width: 40em;

}

.third{
    border: 2px solid #3d3737;
    background-color: #e5e777;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
    width: 40em;
}